.LoginContainer {
  display: flex;
  border: 1px solid black;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: "IBM Plex Mono", monospace;
}
.LoginImageConatiner {
  width: 55%;
  /* position: relative; */
  @media (max-width: 750px) {
    display: none;
  }
}

.LoginImageConatiner > img {
  height: 100vh;
  width: 100%;
}

/* .loginImagetext{
    position: absolute;
    top: 45%;
    left: 30%;
    z-index: 10000;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
}

.loginImagetext > h2{
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
}

.loginImagetext > p{
    font-size: 18px;
    text-transform: capitalize;
} */

.LoginFormContainer {
  /* border: 1px solid black; */
  width: 45%;
  margin: auto;
}

.LoginFormContainer > div {
  margin: 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.loginInputSpan {
  display: flex;
  gap: 12px;
  align-items: center;
  border: 1px solid #c2c2c2;
  padding: 15px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.loginInputSpan > input {
  color: #415a77;
  outline: none;
  width: 250px;
  background-color: transparent;
  &::placeholder {
    color: #c2c2c2;
  }
}

.LoginFormContainer > div > button {
  background-color: #0575e6;
  border-radius: 40px;
  padding: 15px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  color: #fff;
  &:active {
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      color: black;
  }
}

@media (max-width: 750px) {
  .LoginContainer {
    background-image: url("../../Assets/Login/loginBackground.webp");
    color: white;
  }
  .LoginFormContainer {
    width: 350px;
  }

  .loginInputSpan > input{
    color: #fff;
  }
}
