.TaskUpdateContainer {
  display: flex;
  /* border: 1px solid; */
  height: auto;
  justify-content: space-between;
  font-family: "Inter", sans-serif;

  gap: 10px;

  .FormDisplay {
    /* border: 1px solid; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #e5e7eb;
    height: 100%;


    .TaskAddDetail {
      display: flex;
      justify-content: space-between;
      padding: 15px;
      border-bottom: 1px solid #e0e1dd;
    }

    .TaskInput {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 5px;

      .TaskDetail {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 15px;
      }

      .TaskDetail label {
        font-size: medium;
        font-weight: 500;
        color: #3d5a80;
        padding-left: 5px;
      }

      .TaskDetail > input,
      select,
      textarea {
        border: 1px solid #ced4da;
        border-radius: 10px;
        padding: 15px;
        margin-top: 10px;
        background-color: #f9f9f9;
        color: #011627;
        resize: none;
        /* outline-color: #a763f4; */
        outline-color:#0077bd ;
      }
    }
  }

  .StatusDisplay {
    width: 100%;
    padding: 25px;
    overflow-y: scroll;


    .StatusDisplay_history > span {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .StatusDisplay_history > hr {
      width: 2px;
      height: 50px;
      background-color: #0077bd;
      margin: auto;
    }
  }
}
