.NavbarContainer{
    width: 100%;
    border : 1px solid black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.NavbarValues{
    display: flex;
    align-items: center;
}

.NavbarValues > p{
    cursor: pointer;
    font-size: 17px;
}